<div class="form-group">
    <label for="productionUrl">Production URL:</label>
    <input type="text" class="form-control" ng-model="currentWebApplicationUIObject.url" id="productionUrl" placeholder="Production Url">
</div>
<table class="table" >
    <thead>
    <tr>
        <th style="vertical-align: text-top;">Row</th>
        <th style="vertical-align: text-top;">
            Production Username<br>
            <input type="text" class="form-control" name="credentialUsername" ng-model="credentialFormElement.username" placeholder="Production Username">
        </th>
        <th style="vertical-align: text-top;">
            Production Password<br>
            <input type="text" class="form-control" name="credentialPassword" ng-model="credentialFormElement.password" placeholder="Production Username">
        </th>
        <th style="vertical-align: text-top;">
            Action<br>
            <button class="btn btn-success btn-sm aligncenter" ng-click="addCredentials();">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="credential in currentWebApplicationUIObject.credentials track by $index">
        <td>{{$index + 1}}</td>
        <td>{{credential.username}}</td>
        <td>{{credential.password}}</td>
        <td>
            <button class="btn btn-success btn-sm aligncenter" ng-click="removeCredentials(credential.guid);">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>