<div id="main">
    <!-- Slider Start-->
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner rslider">
            <ul>
                <!-- Guy with Laptop SLIDE -->
                <li data-delay="6000" data-masterspeed="300" data-transition="fade">
                    <div class="slotholder">
                        <img src="img/slider/slider-bg-1.jpg" data-fullwidthcentering="on" alt="AppSec">
                    </div>
                    <div class="caption modern_big_bluebg lfb tp-caption start" data-x="40" data-y="85"
                         data-speed="700" data-endspeed="800" data-start="1000" data-easing="easeOutQuint"
                         data-endeasing="easeOutQuint">
                        <span style="font-size: 32px">Application &nbsp;Security</span>
                    </div>
                    <div class="caption list_slide lfb tp-caption start" data-easing="easeOutExpo" data-start="1400"
                         data-speed="1050" data-y="180" data-x="40">
                        <div class="list-slide">
                            <i class="icon-lock slide-icon"></i>
                            <h5 class="dblue">Secure SDLC (Software Development Life Cycle)</h5>
                        </div>
                    </div>
                    <div class="caption list_slide lfb tp-caption start" data-easing="easeOutExpo" data-start="1800"
                         data-speed="1200" data-y="220" data-x="40">
                        <div class="list-slide">
                            <i class="icon-gears slide-icon"></i>
                            <h5 class="dblue">Continuous Assessment for existing and emerging threats</h5>
                        </div>
                    </div>
                    <div class="caption list_slide lfb tp-caption start" data-easing="easeOutExpo" data-start="2200"
                         data-speed="1350" data-y="260" data-x="40">
                        <div class="list-slide">
                            <i class="icon-rocket slide-icon"></i>
                            <h5 class="dblue">Defense against application layer attacks</h5>
                        </div>
                    </div>
                    <div class="caption lfb caption_button_1 fadeout tp-caption start" data-x="40" data-y="330"
                         data-speed="900" data-endspeed="300" data-start="2700" data-hoffset="-70"
                         data-easing="easeOutExpo">
                        <a class="btn-special hidden-xs btn-grey" href="services.jsp">Learn More</a>
                    </div>
                    <div class="caption lfb caption_button_2 fadeout tp-caption start" data-x="210" data-y="330"
                         data-speed="800" data-endspeed="300" data-start="2900" data-hoffset="70"
                         data-easing="easeOutExpo">
                        <a class="btn-special hidden-xs btn-color"
                           href="https://riskengine.kp.org/RiskEngine/RequestIntake/RequestIntakeWelcome.aspx"
                           target="_blank" target="_blank">Engage Us</a>
                    </div>
                </li>
                <!-- AppSec can Help SLIDE -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="300"><img
                        src="img/slider/slider-bg-2.jpg" data-fullwidthcentering="on" alt="">

                    <div class="caption large_text sft" data-x="660" data-y="54" data-speed="300" data-start="800"
                         data-easing="easeOutExpo">Application Security
                    </div>
                    <div class="caption medium_text sfl" data-x="875" data-y="92" data-speed="300" data-start="1100"
                         data-easing="easeOutExpo">CAN
                    </div>
                    <div class="caption large_text sfr" data-x="925" data-y="88" data-speed="300" data-start="1100"
                         data-easing="easeOutExpo">
                        <span class="dblue">HELP</span>
                    </div>
                    <div class="caption list_slide lfb tp-caption start" data-easing="easeOutExpo" data-start="1400"
                         data-speed="1050" data-y="180" data-x="660">
                        <div class="list-slide">
                            <i class="icon-code slide-icon"></i>
                            <h5>Building an application?</h5>
                        </div>
                    </div>
                    <div class="caption list_slide lfb tp-caption start" data-easing="easeOutExpo" data-start="1800"
                         data-speed="1200" data-y="220" data-x="660">
                        <div class="list-slide">
                            <i class="icon-edit slide-icon"></i>
                            <h5>Outsourcing development?</h5>
                        </div>
                    </div>
                    <div class="caption list_slide lfb tp-caption start" data-easing="easeOutExpo" data-start="2200"
                         data-speed="1350" data-y="260" data-x="660">
                        <div class="list-slide">
                            <i class="icon-briefcase slide-icon"></i>
                            <h5>
                                Buying a vendor/3<sup>rd</sup> party application?
                            </h5>
                        </div>
                    </div>
                    <div class="caption list_slide lfb tp-caption start" data-easing="easeOutExpo" data-start="2600"
                         data-speed="1350" data-y="300" data-x="660">
                        <div class="list-slide">
                            <i class="icon-plane slide-icon"></i>
                            <h5>Deploying a pilot?</h5>
                        </div>
                    </div>
                    <div class="caption list_slide lfb tp-caption start" data-easing="easeOutExpo" data-start="3000"
                         data-speed="1350" data-y="340" data-x="660">
                        <div class="list-slide">
                            <i class="icon-thumbs-up slide-icon"></i>
                            <h5>Remediating application security vulnerabilities?</h5>
                        </div>
                    </div>
                    <div class="caption lfl" data-x="53" data-y="40" data-speed="300" data-start="1400"
                         data-easing="easeOutExpo">
                        <img src="img/slider/responsive-imac.png" alt="iMac Responsive">
                    </div>
                    <div class="caption lfl" data-x="300" data-y="170" data-speed="500" data-start="1700"
                         data-easing="easeOutExpo">
                        <img src="img/slider/responsive-ipad.png" alt="iPad Responsive">
                    </div>
                    <div class="caption lfl" data-x="380" data-y="240" data-speed="700" data-start="2000"
                         data-easing="easeOutExpo">
                        <img src="img/slider/responsive-iphone.png" alt="iPhone Responsive">
                    </div>
                    <div class="caption lfl" data-x="220" data-y="240" data-speed="700" data-start="2300"
                         data-easing="easeOutExpo">
                        <img src="img/slider/responsive-iphone-5s.png" alt="iPhone Responsive">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Slider End-->
    <!-- Slogan Start-->
    <div class="slogan bottom-pad-small">
        <div class="container">
            <div class="row">
                <div class="slogan-content">
                    <div class="col-lg-9 col-md-9">
                        <h2 class="slogan-title">Your partner for secure applications!</h2>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="get-started">
                            <a href="https://riskengine.kp.org/RiskEngine/RequestIntake/RequestIntakeWelcome.aspx"
                               target="_blank">
                                <button class="btn btn-special btn-color pull-right">Engage us Now</button>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slogan End-->
    <!-- Main Content start-->
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box big ch-item bottom-pad-small">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1">
                                    <i class="icon-lock"></i>
                                </div>
                                <div class="ch-info-back">
                                    <i class="icon-lock"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3>Secure SDLC</h3>

                            <p>Strategic approach to building secure applications. Our methodology addresses
                                security at various stages in the software development life cycle (SDLC)
                                as opposed to the traditional approach of assessing security posture after code
                                complete.</p>
                            <a href="services.jsp">Read More <i class="icon-angle-right"></i><i
                                    class="icon-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box big ch-item bottom-pad-small">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1">
                                    <i class="icon-flag"></i>
                                </div>
                                <div class="ch-info-back">
                                    <i class="icon-flag-checkered"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3>Thought Leaders</h3>

                            <p>We stay in close touch and watch the industry for new trends, technology and
                                processes. We contribute to the AppSec community and are committed
                                to bringing industry leading and pioneering technology to KP appilcation teams to
                                strategically and efficiently build secure applications and defend them against
                                attacks.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box big ch-item">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1">
                                    <i class="icon-star"></i>
                                </div>
                                <div class="ch-info-back">
                                    <i class="icon-star-empty"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3>Absolutely Free</h3>

                            <p><br>We offer all our services absolutely free of cost to you and your BIO. We do not
                                need a RPM recharge code.<br><br><br></p>
                            <a href="https://riskengine.kp.org/RiskEngine/RequestIntake/RequestIntakeWelcome.aspx"
                               target="_blank">Engage Us <i class="icon-angle-right"></i><i
                                    class="icon-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Recent works start-->
    <!-- 			<div class="recentworks bottom-pad">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 animate_afl d1">
                                <div class="portfolio-desc">
                                    <h3 class="title">Recent Works</h3>
                                    <p>There are many variations passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even highly
                                        believable. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <div class="carousel-controls">
                                        <a class="prev" href="#portfolio-carousel" data-slide="prev"><i class="icon-angle-left"></i></a> <a class="next" href="#portfolio-carousel" data-slide="next"><i class="icon-angle-right"></i></a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-xs-12">
                                <div class="row">
                                    <div id="portfolio-carousel" class="portfolio-carousel slide">
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d2">
                                                    <div class="portfolio-item">
                                                        <a href="img/portfolio/img-portfolio.jpg" class="portfolio-item-link" data-rel="prettyPhoto"> <span class="portfolio-item-hover"></span> <span class="fullscreen"><i
                                                                class="icon-search"></i></span><img src="img/portfolio/img-portfolio.jpg" alt=" " />
                                                        </a>
                                                        <div class="portfolio-item-title">
                                                            <a href="single-project.html">Insta Genius</a>
                                                            <p>Design / Development</p>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d3">
                                                    <div class="portfolio-item">
                                                        <a href="img/portfolio/img-portfolio.jpg" class="portfolio-item-link" data-rel="prettyPhoto"> <span class="portfolio-item-hover"></span><span class="fullscreen"><i
                                                                class="icon-search"></i></span><img src="img/portfolio/img-portfolio.jpg" alt=" " />
                                                        </a>
                                                        <div class="portfolio-item-title">
                                                            <a href="single-project.html">YA Sound</a>
                                                            <p>Sound / Audio</p>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d4">
                                                    <div class="portfolio-item">
                                                        <a href="img/portfolio/img-portfolio.jpg" class="portfolio-item-link" data-rel="prettyPhoto"> <span class="portfolio-item-hover"></span><span class="fullscreen"><i
                                                                class="icon-search"></i></span><img src="img/portfolio/img-portfolio.jpg" alt=" " />
                                                        </a>
                                                        <div class="portfolio-item-title">
                                                            <a href="single-project.html">Nike Shoe</a>
                                                            <p>Apareal / Shoe</p>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                                                    <div class="portfolio-item">
                                                        <a href="img/portfolio/img-portfolio.jpg" class="portfolio-item-link" data-rel="prettyPhoto"> <span class="portfolio-item-hover"></span><span class="fullscreen"><i
                                                                class="icon-search"></i></span><img src="img/portfolio/img-portfolio.jpg" alt=" " />
                                                        </a>
                                                        <div class="portfolio-item-title">
                                                            <a href="single-project.html">Camera Icon</a>
                                                            <p>Icon / Device</p>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                                                    <div class="portfolio-item">
                                                        <a href="img/portfolio/img-portfolio.jpg" class="portfolio-item-link" data-rel="prettyPhoto"> <span class="portfolio-item-hover"></span><span class="fullscreen"><i
                                                                class="icon-search"></i></span><img src="img/portfolio/img-portfolio.jpg" alt=" " />
                                                        </a>
                                                        <div class="portfolio-item-title">
                                                            <a href="single-project.html">Penguin</a>
                                                            <p>Animal / Nature</p>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                                                    <div class="portfolio-item">
                                                        <a href="img/portfolio/img-portfolio.jpg" class="portfolio-item-link" data-rel="prettyPhoto"> <span class="portfolio-item-hover"></span><span class="fullscreen"><i
                                                                class="icon-search"></i></span><img src="img/portfolio/img-portfolio.jpg" alt=" " />
                                                        </a>
                                                        <div class="portfolio-item-title">
                                                            <a href="single-project.html">Sound Box</a>
                                                            <p>Audio / Sound</p>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
    <!-- Recent work end-->
    <!-- Features start -->
    <div class="features bottom-pad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="title">Our Services</h3>

                    <div class="row">
                        <div class="circular-nav">
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div id="cn-tabs">
                                    <div class="service service-1">
                                        <div class="cn-content">
                                            <h4>Hybrid Analysis</h4>

                                            <p>Popular &amp; well respected security report, Verizon Data Breach
                                                Investigations Report 2014, concluded that application
                                                vulnerabilities are the leading cause of security breaches.
                                                At 36%, application breaches are far ahead of cyber-espionage (22%),
                                                Point of Sale intrusions (14%), card skimming (9%), and every other
                                                category. Ponemon Institute's 2014 Cost of Data
                                                Breach study revealed that the average cost to a company was $3.5
                                                million, 15% more than 2013. Will these costs continue to escalate?
                                                Are there preventive measures and controls?</p>
                                            <br>

                                            <p>Hybrid Analysis, a combination of source code analysis and dynamic
                                                analysis, commencing in the early stages of Software Development
                                                Life Cycle (SDLC) is one of the preventive
                                                measures and will help reduce overall costs.</p>
                                            <a href="services/hybridanalysis.jsp">Read More <i
                                                    class="icon-angle-right"></i><i
                                                    class="icon-angle-right"></i></a>

                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="service service-2">
                                        <div class="cn-content">
                                            <h4>Remediation Help</h4>

                                            <p>Application Security consultants not only help identify security
                                                vulnerabilities, but also help developers and application teams
                                                understand essential details about the identified
                                                vulnerabilities, how they can potentially impact KP and offer
                                                insight on how to remediate them.</p>

                                            <p>
                                                Developers and application teams have direct access to Application
                                                Security experts. This solution enables developers to address
                                                security concerns without having to spend hours
                                                researching a solution. As questions arise, whether they relate to
                                                the installation and usage of a source analysis tool or how to
                                                resolve a Cross Site Scripting or a SQL injection flaw,
                                                developers can either reach out to their Application Security
                                                consultant or drop a line to <a
                                                    href="mailto:kpis-application-security@kp.org">
                                                kpis-application-security@kp.org</a>.
                                            </p>
                                            <a href="services/remediationhelp.jsp">Read More <i
                                                    class="icon-angle-right"></i><i
                                                    class="icon-angle-right"></i></a>

                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="service service-3">
                                        <div class="cn-content">
                                            <h4>Continuous Assessment for existing and emerging Threats</h4>

                                            <p>Security Threat Landscape is highly dynamic, so much so that there is
                                                no such thing as "perfectly secure". Facts speak for themselves,
                                                Mandiant 2014 Threat report reveals that 100%
                                                of victims have up-to-date antivirus software, 63% of the breaches
                                                are reported by third parties and advanced attackers are on the
                                                network for 243 median number of days before being
                                                detected.</p>

                                            <p>
                                                It is imperative that at KP, among other things, we continuously
                                                assess and monitor our web applications in <b>production</b> for
                                                existings and emerging threats. Verizon Data Breach
                                                Investigations Report 2014, concluded that web application
                                                vulnerabilities are the leading cause of security breaches. At 36%,
                                                web application breaches are far ahead of cyber-espionage
                                                (22%), Point of Sale intrusions (14%), card skimming (9%), and every
                                                other category.
                                            </p>
                                            <a href="services/continuousassessment.jsp">Read More <i
                                                    class="icon-angle-right"></i><i
                                                    class="icon-angle-right"></i></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="service service-4">
                                        <div class="cn-content">
                                            <h4>Application Attack Defense - Web Application Firewall</h4>

                                            <p>Web Aplications being the leading cause of security breaches (Source:
                                                2014 Verizon DBIR), they receive a continuous barrage of attacks. If
                                                cyber criminals uncover a crack in our
                                                defenses, they can steal sensitive information. Web Application
                                                Firewall monitors web attacks and prevents costly data breaches and
                                                downtime. It also helps satisfy PCI 6.6 compliance.</p>

                                            <p>At KP, Web Application Firewall is deployed in sniffing mode in all
                                                the production data centers and has the ability to monitor all
                                                internet and intranet web traffic. Attacks on
                                                internet facing applications can potentially be blocked.</p>
                                            <a href="services/waf.jsp">Read More <i class="icon-angle-right"></i><i
                                                    class="icon-angle-right"></i></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                                <div class="cn-wrapper">
                                    <ul>
                                        <li class="circle-1 circle"><a class="active"
                                                                       href="services/hybridanalysis.jsp"><span
                                                class="icon-fullscreen"></span></a></li>
                                        <li class="circle-2 circle"><a href="services/remediationhelp.jsp"><span
                                                class="icon-group"></span></a></li>
                                        <li class="circle-3 circle"><a
                                                href="services/continuousassessment.jsp"><span
                                                class="icon-gears"></span> </a></li>
                                        <li class="circle-4 circle"><a href="services/waf.jsp"><span
                                                class="icon-rocket"></span></a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->
    <!-- Main Content end-->
</div>