html body{
	background-color: #cccccc;
	width: 100%; 
	min-width:1360px;
	font-family: Arial,sans-serif;
    margin: 0px !important;
}
.strong{
  font-weight:bold;
}
#vaLogoDiv {
	float:left; 
	padding:10px 30px 0px 5px;
}

#headerDiv {
	width: 100%;
	height: 116px;
	background-color: #061a43;
	color: White;
} 

#agencyName {
	font-size:16px;
}

#applicationName {
	font-size:26px !important;
	font-family: Arial,sans-serif !important;
    letter-spacing: 0px !important;
    font-weight: normal !important;
}

.container_box .btn{
	border-radius: 0px;
}
.header_support .label{
	font-size: 11px;
}

/* Welcome styling */
#welcomeDiv {
	margin-top: 10px;
	background-color: transparent;
	font-size:11px;
}
#welcomeDiv a{
	font-size:11px;
	color:#ffae00;
}

#loggedInUser {
	font-size:16px;
	float:right;
}
.csamhImg{
float: right;
height: 55px;
padding-right: 7px;
width: 140px;
}

#welcomeMessage {
	/* font-style:italic; */
	color: #fff;
	
	font-size: 11px;
}
.mainTabs{
	height:35px;
}




/* Added by Joseph Habib */
html body {
	min-width: inherit;
	margin: 0px !important;
	position: relative;
}

h1 {
	font-weight: bold;
}

h2 {
	margin: 4px auto;
}

.help-inline {
	color: red;
	margin: 0 8px;
}

.container {
	background-color: #fff;
}

.h1_button_12 {
	margin-top: 12px;
}

.h1_button_22 {
	margin-top: 22px;
}

.border-radius-main-form hr {
	border-top: 1px solid #999;
}

.border-radius-main-form {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #bbb;
	padding: 10px 20px;
}

.border-radius-main-form-left {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #bbb;
	padding:0 5px;
}
.gray-lighter{
	background-color:#eee;
}
.txt_lable_lg {
	font-size: 22px;
	font-weight: bold;
}

.txt_lable_md {
	font-size: 16px;
	font-weight: bold;
}
.badge_content{
line-height:22px;
}
.badge_content a{
	color:#fff;
	text-decoration: underline;
}


h1{
	font-weight: bold;
}
h2{
	margin: 4px auto;
}
.help-inline{
	color: red;
	margin:0 8px;
}
.container{
	background-color: #fff;
}

.h1_button{
	margin-top: 25px;
}

.border-radius-main-form{
	-webkit-border-radius:5px;
		-moz-border-radius:5px;
			border-radius:5px;
			border:1px solid #bbb;
			padding: 10px 20px;
			background-color: #eeeeee;
}


/* Landing Page*/

.main_container{
	margin-top:117px;
}
.main_container_login{
	margin-top:117px;
}

.landing_page .bg_main{
	background-image:url(../../images/bg_main_landing.jpg);
	background-repeat:no-repeat;
	min-height:490px;
	box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.2), -12px 0 8px -4px rgba(0, 0, 0, 0.2);
	background-color:#061a43;
	background-size:cover;
	background-position:center;
	
	/* box-shadow: -5px 0px 5px 4px #000; */
}
.landing_page h1{
	font-weight: normal;
	color: #061a43;
	font-size: 34px;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.50);
	margin:38px auto;
}

.landing_page h2{
	font-weight: normal;
	color: #ffd800;
	font-size: 22px;
	text-align: left;
	text-shadow: 0px -1px 0px rgba(0,0,0, .9);
}

.container_box_white{
	background-image:url(../../images/bg_trans_white.png);
	padding:20px 0px;
	margin:20px auto;
}
.container_box_white img{
	margin:20px auto;
}
.btn_skin_landing{
	background-color:#003f72;
	font-weight:bold;
}


/* Common */
.top_header{
	background-image: url(../../images/bg_header_top.png);
	background-repeat:no-repeat;
	background-position:right;
	position:absolute;
	border-bottom:1px solid #344466;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
	z-index: 10;
}

.container_box{
	background-image:url(../../images/bg_trans_blue.png);
	padding:10px 20px;
	margin-top:2px;
	color:#fff;
}

.bg_transparent{
	background-color:transparent;
}

.header_support{
	margin-top: 40px;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
.header_support a, .header_support a:active, .header_support a:hover, .header_support a:visited{
	color:#fff;
	text-decoration:underline;
}

footer{
	color:#0bade3;
	background-color:#061a43;
	line-height:24px;
	font-size:11px;
	border-top:1px solid #334367;
		-webkit-box-shadow: 0 8px 16px -6px rgba(0, 0, 0, 0.7);
	   	   -moz-box-shadow: 0 8px 16px -6px rgba(0, 0, 0, 0.7);
	            box-shadow: 0 8px 16px -6px rgba(0, 0, 0, 0.7);
}
.footer_container{
	background-color:#082f54;
	margin-top:6px;
	padding:10px 10px;
	line-height:24px;
}
	.veteran_block, .staff_block{
		margin-bottom:20px;
	}



.left-right-shadow{
	box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.2), -12px 0 8px -4px rgba(0, 0, 0, 0.2);
	height:90%;
	min-height:600px;
	padding-top:20px;
	padding-bottom:20px;
}




/* NEED FILTER - JOSEPH HABIB */
.modal .modal-dialog {
	width: 90%;
}
.modal-wide .modal-body {
	overflow-y: auto;
}
#mainContent {
	width: 100%;
	margin: 0px 0px 0px 0px;
}
iframe {
	border: 0px;
}
.fieldAlign, .labelAlign, .submitButton, .dateField {
	margin: 0px;
}
.submitButton {
	width: auto;
	height: auto;
}
.ui-datepicker-trigger {
	margin-top: -25px;
	right: 26px;
	position: absolute;
}

#mainContent .ui-widget-header{
	background: none;
	background-color: #f7f7f9;
	color: #000000;
	border: 0px solid #737681;
	line-height: 40px;
}

#mainContent .ui-tabs .ui-tabs-nav li a{
	padding: 0.1em 3em;
}

#mainContent table.dataTable tr.odd, #mainContent table.dataTable tr.odd td.sorting_1, #mainContent table.dataTable tr.even td.sorting_1{
	background-color: transparent;
}

.exportImg{
	margin:0px;
	padding:0px;
}
.paging_full_numbers{
	line-height:40px;
	margin-top: 8px;
}

.dataTables_info{
	margin-left:8px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	padding: 8px 4px;
}

.noPrint {
	display: block;
}
.yesPrint {
	display: block !important;
}

/*Custom bootstrap*/

.navbar-update{
	margin-top: 114px;
	z-index: 9;
	-webkit-box-shadow: 0 8px 16px -6px rgba(0, 0, 0, 0.7);
	   -moz-box-shadow: 0 8px 16px -6px rgba(0, 0, 0, 0.7);
			box-shadow: 0 8px 16px -6px rgba(0, 0, 0, 0.7);
}

.navbar{
	margin-bottom: 0px;
}
.navbar-default{
	background-color: #003f72;
	border-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: #001441;
	color: #ffae00;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #ffae00;
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{

}

.navbar{
	border-radius: 0px;
}

.main-container{
	min-height:400px;
}







.fieldAlign, .labelAlign, .submitButton, .dateField {
	margin: 0px;
}
.submitButton {
	width: auto;
	height: auto;
}
.ui-datepicker-trigger {
	margin-top: -25px;
	right: 26px;
	position: absolute;
}

#mainContent .ui-widget-header{
	background: none;
	background-color: #f7f7f9;
	color: #000000;
	border: 0px solid #737681;
	line-height: 40px;
}

#mainContent .ui-tabs .ui-tabs-nav li a{
	padding: 0.1em 3em;
}

#mainContent table.dataTable tr.odd, #mainContent table.dataTable tr.odd td.sorting_1, #mainContent table.dataTable tr.even td.sorting_1{
	background-color: transparent;
}

.exportImg{
	margin:0px;
	padding:0px;
}
.paging_full_numbers{
	line-height:40px;
	margin-top: 8px;
}

.dataTables_info{
	margin-left:8px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	padding: 8px 4px;
}

.modal .modal-dialog {
	width: 90%;
}
.modal-wide .modal-body {
	overflow-y: auto;
}
#mainContent {
	width: 100%;
	margin: 0px 0px 0px 0px;
}
iframe {
	border: 0px;
}
.bottomContent{
	margin:0px;
}




.btn_margin_right{
	margin-right:10px;
}


.nav>li>a{
	padding: 15px 10px;
}
.cursor-pointer{
	cursor:pointer;
}
.offscreen , .offscreen a{
	font-size:12px;
		padding: 5px 5px 5px 5px;
	text-align:center;

}


a.offscreen:focus, a.offscreen:active {
	display: block;
	left: 0;
	z-index: 999;
	background: #3F3F3F;
	border: 1px solid #000;
	color:#fff;
	
	left: 50%;
	margin-left: -5.25em;
	margin-top: 0;
}

/*WYSIWYG Update by Joseph */
.scroll-div-y{
  overflow-y:auto;
}

.border-radius-main-box .panel{
  margin-bottom:10px;
}
.border-radius-main-box .panel .list-group{
  margin-bottom:0px;
}

.border-radius-main-box .panel .panel-heading {
  padding: 10px 8px;
}

.border-radius-main-box .panel .panel-title{
  font-size:14px;
  line-height: 20px;
} 
.border-radius-main-box .panel .panel-body {
  padding:5px;
}

.border-radius-main-box{
  border-radius: 5px;
  border: 1px solid #BBB;
  padding: 10px 10px;
}

.color-red{
  color:#FF0000;
}

.border-radius-top-box{
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border: 1px solid #bbb;
	padding: 5px 10px;
}

.border-radius-bottom-box{
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border: 1px solid #bbb;
	padding: 5px 5px;
}
.section_header_title{
  margin-top:5px;
  margin-bottom:5px;
  font-weight:bold;
}

.padding_10{
  padding:10px;
}

.margin_top_10{
  margin-top:10px;
}
/* JH | Form Editor Start Here */
.form_editor .list-group-item{
  padding:5px 10px;
}

.form_editor .highlight-item{
  background-color:#d4d4d4;
}

.form_editor .modal-dialog h1{
  font-size:26px;
}

.border-radius-block-type{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #bbb;
	padding: 5px 10px 0px;
  margin: 10px 0;
}
.border-radius-block-type hr{
  margin-top:0px;

}
.blockLableMarginTop{
  margin-top:20px;
}
.bg-gray-light{
  background-color: #F8F8F8;
}
.red-color{
  color:red  !important;
}
.odd-class-grid{
  background-color:#EDEDED;
}

.even-class-grid{
  background-color:#FFFFFF;
}

.border-bottom-3-gray{
  border-bottom:3px solid #ADADAD;
}
.pagination{
  margin: 0px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.container{
		width:90%;
	}
	.veteran_block, .staff_block{
		margin-bottom:20px;
	}
	.landing_page .bg_main{
		background-size:cover;
	}
	
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.container{
		width:90%;
	}
	
	.veteran_block, .staff_block{
		margin-bottom:20px;
	}
	.landing_page .bg_main{
		background-size:cover;
	}
}

@media only print{
	.noPrint {
		display: none;
	}
	.yesPrint {
		display: block !important;
	}
	.modal-content {
		width: 100%;
	}
} 

